appdirs==1.4.3
biopython==1.69
click==6.7
cycler==0.10.0
decorator==4.0.11
Flask==0.12.2
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
matplotlib==2.0.2
networkx==1.11
numpy==1.12.1
packaging==16.8
psycopg2==2.7.1
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2017.2
six==1.10.0
SQLAlchemy==1.1.10
Werkzeug==0.12.2
